@typeparam TItem
@typeparam TData
@using ImgProxy
@using Microsoft.AspNetCore.Components
@using ResizeOption = BioEngine.Admin.Pages.Sections.Topics.ResizeOption
@inherits BaseListPage
<Toolbelt.Blazor.HeadElement.Title>@PageTitle</Toolbelt.Blazor.HeadElement.Title>
<PageContainer Title="@Title">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>
                <a href="/">BRCGames</a>
            </BreadcrumbItem>
            <BreadcrumbItem>@Title</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <Extra>
        <Button Type="@ButtonType.Primary" OnClick="ToFormPage">
            Добавить
        </Button>
    </Extra>
    <ChildContent>
        <AntRepositoryList TItem="TItem" TEntityPk="Guid">
            <Column TData="string" Style="text-align: center">
                @if (context.Data.HeaderPicture is not null)
                {
                    var url = ImgProxyUrlGenerator.Build(context.Data.HeaderPicture, proxyBuilder => proxyBuilder.WithOptions(new ResizeOption("fill", 0, 32), new GravityOption("ce")));
                    <Avatar Size="32" Shape="square" Src="@url" Alt="@context.Title"></Avatar>
                }
            </Column>
            <Column Title="Заголовок" @bind-Field="@context.Title" Sortable Filterable>
                <a href="@GetUrl(context)">@context.Title</a>
            </Column>
            <Column Title="Дата" @bind-Field="@context.DateAdded" Format="dd.MM.yyyy hh:mm:ss" Sortable DefaultSortOrder="SortDirection.Descending"/>
            <Column Title="Сайты" @bind-Field="@context.Sites" Sortable>
                @foreach (var site in context.Sites)
                {
                    <Tag Color="blue">@site.Title</Tag>
                }
            </Column>
            <ActionColumn>
                <Space>
                    <SpaceItem>
                        <Button Danger>
                            <i class="fas fa-trash" title="Удалить"></i>
                        </Button>
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </AntRepositoryList>
    </ChildContent>
</PageContainer>
