@typeparam TItem
@typeparam TData
@typeparam TRepository
@using Microsoft.AspNetCore.Components
@using BioEngine.Admin.Helpers
@inherits BaseListPage<TItem, Guid, TRepository>
<PageTitle>@PageTitle</PageTitle>
<PageContainer Title="@Title">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>
                <a href="/">BRCGames</a>
            </BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <Extra>
        <Button Type="@ButtonType.Primary" OnClick="ToFormPage">
            Добавить
        </Button>
    </Extra>
    <ChildContent>
        <SectionsList TItem="TItem" TRepository="TRepository" @ref="List">
            <Column TData="string" Style="text-align: center">
                <Avatar Size="32" Shape="square" Src="@GetSectionImageUrl(context)" Alt="@context.Title"></Avatar>
            </Column>
            <Column Title="Заголовок" @bind-Field="@context.Title" Sortable Filterable>
                <a href="@GetUrl(context)">@context.Title</a>
            </Column>
            <Column Title="Дата" @bind-Field="@context.DateAdded" Format="dd.MM.yyyy hh:mm:ss" Sortable DefaultSortOrder="SortDirection.Descending"/>
            <Column Title="Сайты" @bind-Field="@context.Sites" Sortable>
                @foreach (var site in context.Sites)
                {
                    <Tag Color="blue">@site.Title</Tag>
                }
            </Column>
            <ActionColumn>
                <Space>
                    <SpaceItem>
                        <Popconfirm Title="Удалить раздел?"
                                    OnConfirm="@(() => List.DeleteAsync(context))"
                                    OkText="Да"
                                    Icon="@FontAwesomeHelper.IconClass("trash")"
                                    CancelText="Нет">
                            <span title="Удалить">
                                <Button Danger Icon="@FontAwesomeHelper.IconClass("trash")"></Button>
                            </span>
                        </Popconfirm>
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </SectionsList>
    </ChildContent>
</PageContainer>
