@page "/Sites/Add"
@page "/Sites/{EntityId:guid}"
@using BioEngine.Core.IPB.Models
@inherits BaseFormPage<BioEngine.Core.Data.Entities.Site, SiteForm>
<SiteForm Layout="@FormLayout.Vertical" EntityId="EntityId" @ref="Form">
    <PageTitle>@PageTitle</PageTitle>
    <PageContainer Title="@Title">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>
                    <a href="/">BRCGames</a>
                </BreadcrumbItem>
                <BreadcrumbItem>
                    <a href="/Sites">Сайты</a>
                </BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <Extra>
            <AntDesign.Button Type="@ButtonType.Primary" Disabled="!context.CanSave()" OnClick="context.Save">
                Сохранить
            </AntDesign.Button>
        </Extra>
        <ChildContent>
            <Row Gutter="24">
                <AntDesign.Col Span="12">
                    <AntFormItem Label="Заголовок" Hint="Название сайта для отображения в админке">
                        <Input @bind-Value="@context.Entity.Title" Placeholder="Мегасайт"/>
                    </AntFormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="12">
                    <AntFormItem Label="Адрес" Hint="Полный адрес сайта с протоколом">
                        <Input @bind-Value="@context.Entity.Url" Placeholder="https://site.dev"/>
                    </AntFormItem>
                </AntDesign.Col>
            </Row>
            <Row Gutter="24">
                <AntDesign.Col Span="12">
                    <AntFormItem Label="Главный сайт" Hint="Является приоритетным при публикации на форуме">
                        <Checkbox @bind-Value="context.Entity.IsMain">Да</Checkbox>
                    </AntFormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="12">
                    <AntFormItem Label="Раздел форума" Hint="Раздел для публикации постов на форуме">
                        <Select DataSource="@context.Forums"
                                @bind-Value="@context.Entity.ForumId"
                                LabelName="@nameof(Forum.Name)"
                                ValueName="@nameof(Forum.Id)"
                                Placeholder="Выберите раздел"
                                DefaultActiveFirstItem="false"
                                TItemValue="int"
                                TItem="Forum"
                                EnableSearch
                                AllowClear>
                        </Select>
                    </AntFormItem>
                </AntDesign.Col>
            </Row>
        </ChildContent>
    </PageContainer>
</SiteForm>
