@page "/Sites/Add"
@page "/Sites/{EntityId:guid}"
@inherits BaseFormPage<BioEngine.Core.Data.Entities.Site, SiteForm>
<SiteForm Layout="@FormLayout.Vertical" EntityId="EntityId" @ref="Form">
    <PageTitle>@PageTitle</PageTitle>
    <PageContainer Title="@Title">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>
                    <a href="/">BRCGames</a>
                </BreadcrumbItem>
                <BreadcrumbItem>
                    <a href="/Sites">Сайты</a>
                </BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <Extra>
            <AntDesign.Button Type="@ButtonType.Primary" Disabled="!context.CanSave()" OnClick="context.Save">
                Сохранить
            </AntDesign.Button>
        </Extra>
        <ChildContent>
            <FormItem Label="Заголовок">
                <Input @bind-Value="@context.Entity.Title" Placeholder="Мегасайт"/>
                <Text Type="secondary">Название сайта для отображения в админке</Text>
            </FormItem>
            <FormItem Label="Адрес">
                <Input @bind-Value="@context.Entity.Url" Placeholder="https://site.dev"/>
                <Text Type="secondary">Полный адрес сайта с протоколом</Text>
            </FormItem>
            <FormItem>
                <Checkbox @bind-Value="context.Entity.IsMain">Главный сайт</Checkbox>
                <Text Type="secondary">Является приоритетным при публикации на форуме</Text>
            </FormItem>
        </ChildContent>
    </PageContainer>
</SiteForm>
