@using BioEngine.Core.Data.Entities
@inherits BaseSectionsFormPage<Topic, TopicData, TopicFormModel>

@if (IsInitialized)
{
    <StickyHeader Title="@(string.IsNullOrEmpty(FormModel.Title) ? "Новая тема" : FormModel.Title)">
        <Button Type="@ButtonType.Primary" Disabled="!CanSave()" OnClick="Save">
            Сохранить
        </Button>
        @if (!FormModel.GetEntity().IsPublished)
        {
            <Button Type="@ButtonType.Dashed" Danger Disabled="!CanPublish()" OnClick="Publish">
                Опубликовать
            </Button>
        }
        else
        {
            <Button Type="@ButtonType.Dashed" Danger Disabled="!CanUnPublish()" OnClick="UnPublish">
                Спрятать
            </Button>
        }
    </StickyHeader>
    <div class="site-layout-background" style="padding-top: 24px;">
        <Form ValidateOnChange="true" Model="FormModel" Loading="IsLoading" OnFinish="OnFinishAsync" @ref="            Form" OnFinishFailed="OnFinishFailedAsync">
            <Validator>
                <FluentValidator></FluentValidator>
                <ChangesDetector FormPage="this"></ChangesDetector>
            </Validator>
            <ChildContent>
                <Row Gutter="24">
                    <AntDesign.Col Span="12">
                        <FormItem Label="Заголовок" LabelColSpan="4"
                                  WrapperColSpan="20">
                            <Input @bind-Value="@context.Title" OnkeyUp="TitleChanged"/>
                        </FormItem>
                    </AntDesign.Col>
                    <AntDesign.Col Span="12">
                        <FormItem Label="Адрес" LabelColSpan="4"
                                  WrapperColSpan="20">
                            <Input @bind-Value="@context.Url"/>
                        </FormItem>
                    </AntDesign.Col>
                </Row>
                <Row Gutter="24">
                    <AntDesign.Col Span="12">
                        <FormItem Label="Сайты" LabelColSpan="4"
                                  WrapperColSpan="20">
                            <Select Mode="multiple"
                                    DataSource="@Sites"
                                    @bind-Value="@context.DummySiteId"
                                    @bind-Values="@context.SiteIds"
                                    LabelName="@nameof(Site.Title)"
                                    ValueName="@nameof(Site.Id)"
                                    Placeholder="Укажите сайты"
                                    DefaultActiveFirstItem="false"
                                    TItemValue="Guid"
                                    TItem="Site"
                                    EnableSearch
                                    AllowClear/>
                        </FormItem>
                    </AntDesign.Col>
                    <AntDesign.Col Span="12">
                        <FormItem Label="Хештег" LabelColSpan="4"
                                  WrapperColSpan="20">
                            <Input @bind-Value="@context.HashTag"/>
                        </FormItem>
                    </AntDesign.Col>
                </Row>
                <Row Gutter="24">
                    <AntDesign.Col Span="12">
                        <FormItem Label="Картинка в шапку" LabelColSpan="4"
                                  WrapperColSpan="20">
                            <FileInput @bind-Value="@context.HeaderPicture"></FileInput>
                        </FormItem>
                    </AntDesign.Col>
                    <AntDesign.Col Span="12">
                    </AntDesign.Col>
                </Row>
                <BlocksForm Item="FormModel"></BlocksForm>
            </ChildContent>
        </Form>
    </div>
}
