@page "/Pages/{EntityId:guid}"
@page "/Pages/Add"
@using BioEngine.Core.Data.Entities
@inherits BaseFormPage<Page, PageForm>

<PageForm Layout="@FormLayout.Vertical" EntityId="EntityId" @ref="Form">
    <PageTitle>@PageTitle</PageTitle>
    <PageContainer Title="@Title">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>
                    <a href="/">BRCGames</a>
                </BreadcrumbItem>
                <BreadcrumbItem>
                    <a href="/Pages">Страницы</a>
                </BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <Extra>
            <AntDesign.Button Type="@ButtonType.Primary" Disabled="!context.CanSave()" OnClick="context.Save">
                Сохранить
            </AntDesign.Button>
        </Extra>
        <ChildContent>
            <AntFormItem Label="Заголовок" Hint="Заголовок страницы">
                <AntDesign.Input @bind-Value="@context.Entity.Title" Placeholder="О сайте"/>
            </AntFormItem>
            <AntFormItem Label="Адрес" Hint="Адрес страницы на сайте — https://www.bioware.ru/pages/about.html">
                <AntDesign.Input @bind-Value="@context.Entity.Url" Placeholder="about"/>
            </AntFormItem>
            <AntFormItem Label="Сайты" Hint="Сайты, на которых будет показываться страница">
                <AntDesign.Select Mode="multiple"
                                  DataSource="@context.SitesList"
                                  @bind-Value="@context.DummySiteId"
                                  @bind-Values="@context.SiteIds"
                                  LabelName="@nameof(Site.Title)"
                                  ValueName="@nameof(Site.Id)"
                                  Placeholder="Укажите сайты"
                                  DefaultActiveFirstItem="false"
                                  TItemValue="Guid"
                                  TItem="Site"
                                  EnableSearch
                                  AllowClear/>
            </AntFormItem>
            <AntBlocklyForm TEntity="Page" TForm="PageForm" @bind-Value="context.Entity.Blocks" Form="context" Options="context.BlocksOptions"></AntBlocklyForm>
        </ChildContent>
    </PageContainer>
</PageForm>
