@page "/Pages"
@using BioEngine.Admin.Helpers
@inherits BaseListPage<BioEngine.Core.Data.Entities.Page, Guid, BioEngine.Core.Data.Repositories.PagesRepository>
<PageTitle>@PageTitle</PageTitle>
<PageContainer Title="@Title">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>
                <a href="/">BRCGames</a>
            </BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <Extra>
        <Button Type="@ButtonType.Primary" OnClick="ToFormPage">
            Добавить
        </Button>
    </Extra>
    <ChildContent>
        <PagesList @ref="List">
            <Column Title="Название" @bind-Field="@context.Title" Sortable Filterable>
                @{
                    var url = $"/Pages/{context.Id}";
                }
                <a href="@url">@context.Title</a>
            </Column>
            <Column Title="Дата" @bind-Field="@context.DateAdded" Format="dd.MM.yyyy hh:mm:ss" Sortable DefaultSortOrder="SortDirection.Descending"/>
            <Column Title="Адрес" @bind-Field="@context.Url" Sortable Filterable>
                @context.Url
            </Column>

            <ActionColumn>
                <Space>
                    <SpaceItem>
                        <Popconfirm Title="Удалить страницу?"
                                    OnConfirm="@(() => List.DeleteAsync(context))"
                                    OkText="Да"
                                    Icon="@FontAwesomeHelper.IconClass("trash")"
                                    CancelText="Нет">
                            <span title="Удалить">
                                <Button Danger Icon="@FontAwesomeHelper.IconClass("trash")"></Button>
                            </span>
                        </Popconfirm>
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </PagesList>

    </ChildContent>
</PageContainer>

@code {
    protected override string CreatePageUrl => "/Pages/Add";
    protected override string Title => "Страницы";
}
