@using BioEngine.Core.Data.Entities
@inherits BaseFormPage<BioEngine.Core.Data.Entities.Page, Guid, PageFormModel>

@if (IsInitialized)
{
    <StickyHeader Title="@(string.IsNullOrEmpty(FormModel.Title) ? "Новая страница" : FormModel.Title)">
        <Button Type="@ButtonType.Primary" Disabled="!CanSave()" OnClick="Save">
            Сохранить
        </Button>
    </StickyHeader>
    <div class="site-layout-background" style="padding-top: 24px;">
        <Form ValidateOnChange="true" Model="FormModel" Loading="IsLoading" OnFinish="OnFinishAsync" @ref="            Form" OnFinishFailed="OnFinishFailedAsync">
            <Validator>
                <FluentValidator></FluentValidator>
                <ChangesDetector FormPage="this"></ChangesDetector>
            </Validator>
            <ChildContent>
                <FormItem Label="Заголовок">
                    <Input @bind-Value="@context.Title"/>
                </FormItem>
                <FormItem Label="Адрес">
                    <Input @bind-Value="@context.Url"/>
                </FormItem>
                <FormItem Label="Сайты">
                    <Select Mode="multiple"
                            DataSource="@Sites"
                            @bind-Value="@context.DummySiteId"
                            @bind-Values="@context.SiteIds"
                            LabelName="@nameof(Site.Title)"
                            ValueName="@nameof(Site.Id)"
                            Placeholder="Укажите сайты"
                            DefaultActiveFirstItem="false"
                            TItemValue="Guid"
                            TItem="Site"
                            EnableSearch
                            AllowClear/>
                </FormItem>
                <BlocksForm Item="FormModel"></BlocksForm>
            </ChildContent>
        </Form>
    </div>
}
