@page "/Sections/Developers/Add"
@page "/Sections/Developers/{EntityId:guid}"
@using BioEngine.Core.Data.Entities
@using Microsoft.AspNetCore.Components
@using BioEngine.Admin.Extensions
@inherits BaseFormPage<Developer, DeveloperForm>
<DeveloperForm Layout="@FormLayout.Vertical" EntityId="EntityId" @ref="Form">
    <PageTitle>@PageTitle</PageTitle>
    <PageContainer Title="@Title">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>
                    <a href="/">BRCGames</a>
                </BreadcrumbItem>
                <BreadcrumbItem>
                    <a href="/Developers">Разработчики</a>
                </BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <Extra>
            <AntDesign.Button Type="@ButtonType.Primary" Disabled="!context.CanSave()" OnClick="context.Save">
                Сохранить
            </AntDesign.Button>
            @if (!context.Entity.IsPublished)
            {
                <AntDesign.Button Type="@ButtonType.Dashed" Danger Disabled="!context.CanPublish()" OnClick="context.PublishAsync">
                    Опубликовать
                </AntDesign.Button>
            }
            else
            {
                <AntDesign.Button Type="@ButtonType.Dashed" Danger Disabled="!context.CanUnPublish()" OnClick="context.UnPublishAsync">
                    Спрятать
                </AntDesign.Button>
            }
        </Extra>
        <ChildContent>
            <Row Gutter="24">
                <AntDesign.Col Span="12">
                    <FormItem Label="Название">
                        <AntDesign.Input @bind-Value="@context.Entity.Title" OnkeyUp="context.TitleChanged" Placeholder="Название разработчик"/>
                        <Text Type="secondary">Название разработчика</Text>
                    </FormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="12">
                    <FormItem Label="Адрес">
                        <AntDesign.Input @bind-Value="@context.Entity.Url" Placeholder="developername"/>
                        <Text Type="secondary">Адрес разработчика на сайте — https://www.bioware.ru/developers/developername.html</Text>
                    </FormItem>
                </AntDesign.Col>
            </Row>
            <Row Gutter="24">
                <AntDesign.Col Span="12">
                    <FormItem Label="Сайты">
                        <AntDesign.Select Mode="multiple"
                                          DataSource="@context.SitesList"
                                          @bind-Value="@context.DummySiteId"
                                          @bind-Values="@context.SiteIds"
                                          LabelName="@nameof(Site.Title)"
                                          ValueName="@nameof(Site.Id)"
                                          Placeholder="Укажите сайты"
                                          DefaultActiveFirstItem="false"
                                          TItemValue="Guid"
                                          TItem="Site"
                                          EnableSearch
                                          AllowClear/>
                        <Text Type="secondary">Сайты, на которых отображать разработчика</Text>
                    </FormItem>
                </AntDesign.Col>
                <AntDesign.Col Span="12">
                    <FormItem Label="Хештег">
                        <AntDesign.Input @bind-Value="@context.Entity.Data.Hashtag" Placeholder="developername"/>
                        <Text Type="secondary">Хештег для публикаций в соцсетях</Text>
                    </FormItem>
                </AntDesign.Col>
            </Row>
            <Row Gutter="24">
                <AntDesign.Col Span="12">
                    <FormItem Label="Картинка в шапку">
                        <AntStorageImageInput @bind-Value="@context.Entity.Data.HeaderPicture" Storage="@context.Storage" UploadPath="/developers" GenerateMetadata="@StorageUploadExtensions.GenerateMetadataAsync"></AntStorageImageInput>
                        <Text Type="secondary">Картинка в шапке на странице разработчика</Text>
                    </FormItem>
                </AntDesign.Col>
            </Row>
            <AntBlocklyForm TEntity="Developer" TForm="DeveloperForm" @bind-Value="context.Entity.Blocks" Form="context" Options="context.BlocksOptions"></AntBlocklyForm>
        </ChildContent>
    </PageContainer>
</DeveloperForm>
