@page "/Posts"
@using Microsoft.AspNetCore.Components
@using BioEngine.Core.Data.Entities
@using BioEngine.Admin.Helpers
@inherits BaseListPage<Post, Guid, BioEngine.Core.Data.Repositories.PostsRepository>
<PageTitle>@PageTitle</PageTitle>
<PageContainer Title="@Title">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>
                <a href="/">BRCGames</a>
            </BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <Extra>
        <Button Type="@ButtonType.Primary" OnClick="ToFormPage">
            Добавить
        </Button>
    </Extra>
    <ChildContent>
        <PostsList ConfigureQuery="ConfigureQueryAsync" @ref="List">
            <ChildContent>
                <Column Title="Заголовок" @bind-Field="@context.Title" Sortable Filterable>
                    @{
                        var url = $"/Posts/{context.Id}";
                    }
                    <a href="@url">@context.Title</a>
                </Column>
                <Column Title="Дата" @bind-Field="@context.DateAdded" Format="dd.MM.yyyy hh:mm:ss" Sortable DefaultSortOrder="SortDirection.Descending"/>
                <Column Title="Сайты" TData="Site">
                    @foreach (var site in context.Sections.SelectMany(s=>s.Sites).Distinct())
                    {
                        <a href="@GetSiteFilterUrl(site)">
                            <Tag Color="blue">@site.Title</Tag>
                        </a>
                    }
                </Column>
                <Column Title="Разделы" TData="Section">
                    @foreach (var postSection in context.Sections)
                    {
                        <a href="@GetSectionFilterUrl(postSection)">
                            <Tag Color="cyan">@postSection.Title</Tag>
                        </a>
                    }
                </Column>
                <Column Title="Теги" @bind-Field="@context.Tags">
                    @foreach (var tag in context.Tags)
                    {
                        <a href="@GetTagFilterUrl(tag)">
                            <Tag Color="green">@tag.Title</Tag>
                        </a>
                    }
                </Column>
                <Column Title="Автор" @bind-Field="@context.AuthorId" Sortable Filters="@authorsFilter" Width="200">
                    <a target="_blank" href="@context.Author.ProfileUrl">
                        <Avatar Src="@context.Author.PhotoUrl" Alt="@context.Author.Name"/>&nbsp;<span class="name anticon">@context.Author.Name</span>
                    </a>
                </Column>
                <ActionColumn>
                    <Space>
                        <SpaceItem>
                            <Button Icon="@FontAwesomeHelper.IconClass("copy")">
                                @* <i class="fas fa-copy" title="Сохранить как шаблон"></i> *@
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                     <Popconfirm Title="Удалить пост?"
                                        OnConfirm="@(() => List.DeleteAsync(context))"
                                        OkText="Да"
                                        Icon="@FontAwesomeHelper.IconClass("trash")"
                                        CancelText="Нет">
                                <span title="Удалить">
                                    <Button Danger Icon="@FontAwesomeHelper.IconClass("trash")"></Button>
                                </span>
                            </Popconfirm>
                        </SpaceItem>
                    </Space>
                </ActionColumn>
            </ChildContent>
        </PostsList>
    </ChildContent>
</PageContainer>
