@page "/Tags"
@using Microsoft.AspNetCore.Components
@using BioEngine.Admin.Helpers
@inherits BaseListPage<BioEngine.Core.Data.Entities.Tag, Guid, BioEngine.Core.Data.Repositories.TagsRepository>
<PageTitle>@PageTitle</PageTitle>
<PageContainer Title="@Title">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>
                <a href="/">BRCGames</a>
            </BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <Extra>
        <Button Type="@ButtonType.Primary" OnClick="ToFormPage">
            Добавить
        </Button>
    </Extra>
    <ChildContent>
        <TagsList @ref="List">
            <ChildContent>
                <Column Title="Название" @bind-Field="@context.Title" Sortable>
                    @{
                        var url = $"/Tags/{context.Id}";
                    }
                    <a href="@url">@context.Title</a>
                </Column>
                <Column Title="Дата" @bind-Field="@context.DateAdded" Format="dd.MM.yyyy hh:mm:ss" Sortable DefaultSortOrder="SortDirection.Descending"/>

                <ActionColumn>
                    <Space>
                        <SpaceItem>
                            <Popconfirm Title="Удалить тэг?"
                                        OnConfirm="@(() => List.DeleteAsync(context))"
                                        OkText="Да"
                                        Icon="@FontAwesomeHelper.IconClass("trash")"
                                        CancelText="Нет">
                                <span title="Удалить">
                                    <Button Danger Icon="@FontAwesomeHelper.IconClass("trash")"></Button>
                                </span>
                            </Popconfirm>
                        </SpaceItem>
                    </Space>
                </ActionColumn>
            </ChildContent>
        </TagsList>
    </ChildContent>
</PageContainer>

@code {

    protected override string CreatePageUrl => "/Tags/Add";

    protected override string Title => "Теги";

}
