@page "/Tags"
@inherits BaseListPage
<Toolbelt.Blazor.HeadElement.Title>@PageTitle</Toolbelt.Blazor.HeadElement.Title>
<PageContainer Title="@Title">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>
                <a href="/">BRCGames</a>
            </BreadcrumbItem>
            <BreadcrumbItem>@Title</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <Extra>
        <Button Type="@ButtonType.Primary" OnClick="ToFormPage">
            Добавить
        </Button>
    </Extra>
    <ChildContent>
        <AntRepositoryList TItem="BioEngine.Core.Data.Entities.Tag" TEntityPk="Guid">
            <Column Title="Название" @bind-Field="@context.Title" Sortable>
                @{
                    var url = $"/Tags/{context.Id}";
                }
                <a href="@url">@context.Title</a>
            </Column>
            <Column Title="Дата" @bind-Field="@context.DateAdded" Format="dd.MM.yyyy hh:mm:ss" Sortable DefaultSortOrder="SortDirection.Descending"/>

            <ActionColumn>
                <Space>
                    <SpaceItem>
                        <Button Danger>
                            <i class="fas fa-trash" title="Удалить"></i>
                        </Button>
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </AntRepositoryList>
    </ChildContent>
</PageContainer>

@code {

    protected override string CreatePageUrl => "/Tags/Add";

    protected override string Title => "Теги";

}
