@page "/Tags"
@inherits BaseListPage<BioEngine.Core.Data.Entities.Tag, Guid>
<StickyHeader Title="@GetTitle()">
    <Button Type="@ButtonType.Primary" OnClick="ToFormPage">
        Добавить
    </Button>
</StickyHeader>
<div class="site-layout-background" style="padding-top: 24px;">
    <Table @ref="            table"
            TItem="BioEngine.Core.Data.Entities.Tag"
            DataSource="@Items"
            Total="Count"
            OnChange="@OnChange"
            @bind-PageIndex="_pageIndex"
            @bind-PageSize="_pageSize">
        <Column Title="Название" @bind-Field="@context.Title" Sortable>
            @{
                var url = $"/Tags/{context.Id}";
            }
            <a href="@url">@context.Title</a>
        </Column>
        <Column Title="Дата" @bind-Field="@context.DateAdded" Format="dd.MM.yyyy hh:mm:ss" Sortable Sort="descend"/>

        <ActionColumn>
            <Space>
                <SpaceItem>
                    <Button Danger>
                        <i class="fas fa-trash" title="Удалить"></i>
                    </Button>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </Table>
</div>

@code {
    protected override string GetCreatePageUrl()
    {
        return "/Tags/Add";
    }

    protected override string GetTitle()
    {
        return "Теги";
    }
}
